#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.formContainer {
  background-color: rgb(241, 241, 241);
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(145, 145, 145) ;
}

.controlledForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(0, 0, 0);
}

.submitButton {
  margin: 20px;
  border: 1px solid black;
}

.nameField {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.streetField {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.cityField {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.stateField {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
